body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: black;
}

.principal {
    margin-top: 8rem;
    margin-bottom: 13rem;
}
.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
  }
 
.principal a {
    text-decoration: none;
}
.principal a:link {
    color: red;
  }

  .principal a:visited {
    color: rgb(131, 0, 0);
  }

  .principal a:hover {
    color: rgb(124, 0, 0);
  }
  .principal a:active {
    color: rgb(255, 0, 0);
  }

.principal,
.block1,
.block2 {
    text-align: start;
    height: 450px;
}

.block1,
.block2 {
    padding-left: 0.4rem;
}

.block1 h1 {
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 900;
    color: red;
    font-family: 'Allerta Stencil', sans-serif;
}

.block1 h2 {
    font-size: 2.3rem;
    padding-top: 3rem;
    font-weight: 700;
    color: #970000;
    font-family: 'Allerta Stencil', sans-serif;
}

.block1 h3 {
    font-size: 3.7rem;
    padding-top: 3rem;
    font-weight: 700;
    color: red;
    font-family: 'Allerta Stencil', sans-serif;
}

.block2 ul {
    padding-left: 0rem;
}

.block2 li {
    font-size: 0.8rem;
    list-style: none;
    padding-top: 3.7rem;
    font-weight: 900;
    font-family: 'Allerta Stencil', sans-serif;
}
.about-me h3{
    color: #970000;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Allerta Stencil', sans-serif;
}

#picture #description {
    height: 25rem;
}
#about{
    margin-bottom: 10rem;
}
#picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#picture img {
    width: 19rem;
    object-fit: cover;
}

#description {
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#work{
    margin-bottom: 10rem;
}
#work a{
    text-decoration: none;
}
.carousel-text{
    text-align: center;
}
.carousel-text h5{
    color: red;
}
.carousel-text p{ 
    
    color: #970000;
}
.workSection h3{
    text-align: center;
    color: #970000;
    font-size: 3rem;
    font-family: 'Allerta Stencil', sans-serif;
}
.container-carousel{
    width: 80%;
}
.container-carousel img{
    border-radius: 10%;
    width: 100%;
}
.contact{
    color: white;
}
.contact h3{
    font-size: 3rem;
    color: #970000;
    margin-bottom: 2rem;
    font-family: 'Allerta Stencil', sans-serif;
}

footer h5{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
footer .container{
    color: white;
    margin-top: 3rem;
    flex-direction: row;
    margin-bottom: 1rem;
    
}
footer .container a{ 
    text-decoration: none;
    color: white;
}
footer .contact-text{
    margin-bottom: 3rem;
}
footer .row i{
    color: #970000;
}



/* MEDIDAS TABLETAS Y MAS*/
@media (min-width:768px) {

    .principal,
    .block1,
    .block2 {
        text-align: start;
        height: 40rem;
    }

    .block1,
    .block2 {
        padding-left: 2rem;
    }

    .block1 h1 {
        padding-top: 6rem;
        font-size: 5rem;
        font-weight: 900;
        color: red;
    }

    .block1 h2 {
        padding-top: 3rem;
        font-size: 3rem;
        font-weight: 700;
    }

    .block1 h3 {
        padding-top: 3rem;
        font-size: 7.6rem;
        font-weight: 700;
    }

    .block2 li {
        font-size: 1.5rem;
        padding-top: 5.5rem;
    }
    #picture img {
        width: 22rem;
        object-fit: cover;
        padding: 1rem;
    }
    .form-contact{
        width: 80%;
    }    
}

/*MEDIDAS 2K+*/
@media (min-width:1024px) {

    .principal,
    .block1,
    .block2 {
        text-align: start;
        height: 40rem;
    }

    .block1 {
        padding-left: 10rem;
    }

    .block1 h1 {
        padding-top: 6rem;
        font-size: 5rem;
        font-weight: 900;
        color: red;
    }

    .block1 h2 {
        padding-top: 3rem;
        font-size: 3rem;
        font-weight: 700;
    }

    .block1 h3 {
        padding-top: 3rem;
        font-size: 8rem;
        font-weight: 700;
    }

    .block2 li {
        font-size: 1.5rem;
        padding-top: 5.5rem;
    }
    #picture img {
        margin-left: 2rem;
        width: 30rem;
        object-fit: cover;
        padding: 1rem;
    }
    .container-carousel{
        width: 80%;
    }
    .container-carousel img{
        border-radius: 10%;
        width: 70%;
    }
    .form-contact{
        width: 60%;
    }  
}

footer button {
    margin-left: 50%;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 40px;
    background-color: #970000;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 3px rgb(141, 0, 0);
    z-index: 100;
    border: #db6300;
    transition: 0.5s;
    position: fixed;
  }
  
  footer button:hover {
    transform: scale(1.1);
  }
  
  footer button:active {
    background-color: #a80000;
  }
  
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    margin-bottom: 60%;
    border-bottom: 15px solid white;
  }
  