body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: rgb(5, 5, 5);
}

.principal {
    margin-top: 6rem;
    margin-bottom: 13rem;
}
.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
  }
 
.principal a {
    text-decoration: none;
}
.principal a:link {
    color: red;
  }

  .principal a:visited {
    color: rgb(131, 0, 0);
  }

  .principal a:hover {
    color: rgb(124, 0, 0);
  }
  .principal a:active {
    color: rgb(255, 0, 0);
  }

.principal,
.block1,
.block2 {
    text-align: start;
}

.block1,
.block2 {
    padding-left: 0.4rem;
}

.block2 {
    display: flex;
    align-items: center;
}

.block2 li{
    padding: 1.5rem 0;
}

.block1 h1 {
    font-size: 2rem;
    font-weight: 900;
    color: red;
    font-family: 'Allerta Stencil', sans-serif;
}

.block1 h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #970000;
    font-family: 'Allerta Stencil', sans-serif;
}

.block1 h3 {
    font-size: 3.7rem;

    font-weight: 700;
    color: red;
    font-family: 'Allerta Stencil', sans-serif;
}

.block2 ul {
    padding-left: 0rem;
}

.block2 li {
    font-size: 0.8rem;
    list-style: none;

    font-weight: 900;
    font-family: 'Allerta Stencil', sans-serif;
}
.about-me h3{
    color: #970000;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Allerta Stencil', sans-serif;
}

#picture #description {
    height: 25rem;
}
#about{
    background: rgb(20, 20, 20);
    padding: 5rem 0;
}
#picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#picture img {
    width: 19rem;
    object-fit: cover;
}

#description {
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#work{
    margin-bottom: 5rem;
}
#work a{
    text-decoration: none;
}
.carousel-text h5{
    margin: 1rem 0 0.3rem;
}

.carousel-text{
    text-align: center;
}
.carousel-text h5{
    color: red;
}
.carousel-text p{ 
    color: #970000;
}
.workSection h3{
    text-align: center;
    color: #970000;
    font-size: 3rem;
    font-family: 'Allerta Stencil', sans-serif;
}

.container-carousel{
    width: 80%;
}
.container-carousel img{
    border-radius: 1rem;
    width: 100%;
}
.contact{
    color: white;
}
.contact h3{
    font-size: 3rem;
    color: #970000;
    margin-bottom: 2rem;
    font-family: 'Allerta Stencil', sans-serif;
}

footer {
    background: rgb(20, 20, 20);
    margin: 0;
}

footer h5{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
footer .container{
    margin-top: 3rem;
    flex-direction: row;
}
footer .container a{ 
    text-decoration: none;
    color: white;
}
footer .contact-text{
    margin-bottom: 3rem;
}
footer .row i{
    color: #970000;
}
.icon {
    margin: 2rem 0;
}


/* MEDIDAS TABLETAS Y MAS*/
@media (min-width:768px) {

    .block1,
    .block2 {
        padding-left: 2rem;
    }

    .block1 h1 {
        font-size: 5rem;
        font-weight: 900;
        color: red;
    }

    .block1 h2 {
        font-size: 3rem;
        font-weight: 700;
    }

    .block1 h3 {
        font-size: 7.6rem;
        font-weight: 700;
    }

    .block2 li {
        font-size: 1.5rem;
    }
    #picture img {
        width: 22rem;
        object-fit: cover;
        padding: 1rem;
    }
    .form-contact{
        width: 80%;
    }    
}

/*MEDIDAS 2K+*/
@media (min-width:1024px) {

    .block1 {
        padding-left: 10rem;
    }

    .block1 h1 {
        font-size: 5rem;
        font-weight: 900;
        color: red;
    }

    .block1 h2 {
        font-size: 3rem;
        font-weight: 700;
    }

    .block1 h3 {
        font-size: 8rem;
        font-weight: 700;
    }

    .block2 li {
        font-size: 1.5rem;
    }
    #picture img {
        margin-left: 2rem;
        width: 30rem;
        object-fit: cover;
        padding: 1rem;
    }

    .container-carousel img{
        width: 70%;
    }
    .form-contact{
        width: 60%;
    }  
}